body, html {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    border:0;
    padding:0;
    width: 100vw;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: white;
}

#menu {
    height: 6vh;
    background: linear-gradient(to right, #333, #555);
    overflow: hidden;
    position: fixed;
    top: 0;
    z-index: 1;
    margin: 0;
    margin-bottom: 3vh;
    width: 100vw;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    justify-content: center;
}

#menu li {
    float: left;
    list-style-type: none;
    height: 6vh;
    display: flex;
    align-items: center;
}

#menu li a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    text-decoration: none;
    width: 13vw;
    height: 100%;
    transition: background-color 0.3s ease;
}

#menu li a:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0.8);
    color: #C0C0C0;
}

main{
    margin-top: 5vh;
    padding-top: 3vh;
    min-height: 100vh;
    width: 100vw;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5em;
    text-align: center;
    width: 60vw;
    margin-left: 20vw;
    padding: 0;
    margin-bottom : 6vh;

}
p{
    font-size: 1.5em;
    margin: 0;
    padding: 0;
    width: 60vw;
    margin-left: 20vw;
    text-align: justify;
    margin-bottom : 3vh;
}
#logoUT3{
    float: right;
    height: 10vh;
    margin-right: 5vw;
    margin-top: 2vh;
}
#logoInfo{
    float: left;
    height: 10vh;
    margin-left: 5vw;
    margin-top: 2vh;
}


.filtres{
    width: 80vw;
    height: 5vh;
    margin-left: 10vw;
    overflow: hidden;
    top: 8vh;
    z-index: 1;
    margin-bottom: 3vh;
    box-sizing: border-box;
    padding-left: 2vw;

    /* Faire un beau design  */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.40);
    background-color: white;
    padding-left: 2vw;
    padding-right: 2vw;

}

.filtres input[type="number"]{
    width: 5vw;
    height: 3vh;
    margin-left: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    box-sizing: border-box;
    border: 1px solid #333;
    
    
}

.filtres select{
    width: 5vw;
    height: 3vh;
    margin-left: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    border: 1px solid #333;
    box-sizing: border-box;
    padding-left: 1vw;
}
.filtres label{
    margin-left: 1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 0.8em;
}
#graphique {
    width: 80vw;
    height: 80vh;
    margin-left: 10vw;
    overflow: hidden;
    top: 8vh;
    z-index: 1;
    margin-bottom: 3vh;
    box-sizing: border-box;
    padding-left: 2vw; 

    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.40);
    padding-left: 2vw;
    padding-right: 2vw;
}

#image_esprit_equipe{
    width: 50vw;
    margin-left: 25vw;
    /* ombres */

    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.40);
    margin-bottom: 3vh;
    
}
footer{
    width: 100vw;
    height: 20vh;
    padding-top: 2vh;
    padding-bottom: 20vh;
    background-color: #333;
    font-size: 0.5em;
    color: white;
    overflow: hidden;
    bottom: 0;
    z-index: 1;
    box-sizing: border-box;
}
#footer_left{
    top: 0;
    display: inline-block;
    width: 40vw;
    height: 20vh;
    text-align: center;

}
#footer_right{
    display: inline-block;
    width: 40vw;
    height: 20vh;
    text-align: center;
}
#footer_right > a{
    display: block;
    text-decoration: none;
    color: white;
}

#linkedin{
    float: left;
    height: 4vh;
    margin-left: 43vh;
}